{% capture text %}
  {% comment %}
  - input: url: onestop-tablet-angle-1x.png
  - return: The onestop page on tablet
  {% endcomment %}

  {% assign url = include.url %}
  {% assign filename = url | split: '.png' %}
  {% assign words = filename.first | split: '-' %}
  {% assign size = words.size | minus: 3 %}


  The~
  {% for i in (0..size) %}
    {% if i == size %}
      Page~on~
    {% endif %}
    {{ words[i] | capitalize }}~
  {% endfor %}
{% endcapture %}{% include atoms/sanitize.html text=text separator='~' %}