<!-- http://picture.responsiveimages.org/ -->

<!-- From post, or from direct input -->
{% if include.id %}
  {% assign id = include.id | times: 1 %}
  {% assign image = page.images[id] %}
{% else %}
  {% assign image = include %}
{% endif %}


<!-- Setting up the images -->
<!-- mobile should be always present -->
{% assign mobile = image.mobile %}
<!-- if a size is missing the previous size is used. if all sizes missing the mobile is the default -->
{% if image.tablet %}{% assign tablet = image.tablet %}{% else %}{% assign tablet = mobile %}{% endif %}
{% if image.laptop %}{% assign laptop = image.laptop %}{% else %}{% assign laptop = tablet %}{% endif %}
{% if image.desktop %}{% assign desktop = image.desktop %}{% else %}{% assign desktop = laptop %}{% endif %}
{% if image.desktop2x %}{% assign desktop2x = image.desktop2x %}{% else %}{% assign desktop2x = desktop %}{% endif %}

<!-- Setting up the other variables -->
{% assign title = image.title %}
{% assign class = image.classes | join: ' ' %}
{% assign figcaption = image.figcaption %}

<!-- if no title, class from post then add via an include -->
{% if title == null %}
  {% assign title = include.title %}
{% endif %}

{% if class == '' %}
  {% assign class = include.class %}
{% endif %}

<!-- if no figcaption then title is a figcaption -->
{% if figcaption == null %}
  {% assign figcaption = title %}
{% endif %}


<figure id="{% include atoms/classname.html title=title %}" class="{{ class }}">
  {% if image.link %}<a href="{{ site.url }}{{ image.link }}" title="{{ title }}">{% endif %}
    <picture>
      <!--[if IE 9]><video style="display: none;"><![endif]-->

      <!-- The first criteria met is applied -->
      <source media="(min-width: 90em)" srcset="{{ site.url }}/{{ site.images }}/{{ desktop }}, {{ site.url }}/{{ site.images }}/{{ desktop2x }} 2x">
      <source media="(min-width: 64em)" srcset="{{ site.url }}/{{ site.images }}/{{ laptop }}, {{ site.url }}/{{ site.images }}/{{ desktop }} 2x">
      <source media="(min-width: 48em)" srcset="{{ site.url }}/{{ site.images }}/{{ tablet }}, {{ site.url }}/{{ site.images }}/{{ laptop }} 2x">
      <source srcset="{{ site.url }}/{{ site.images }}/{{ mobile }}, {{ site.url }}/{{ site.images }}/{{ tablet }} 2x">
      <!--[if IE 9]></video><![endif]-->

      <img src="{{ site.url }}/{{ site.images }}/{{ mobile }}" alt="{{ title }}">
    </picture>
    <figcaption>{{ figcaption }}</figcaption>
  {% if image.link %}</a>{% endif %}
</figure>