@mixin about {
  @include flexbox($justify-content: center);
  @include colors(white-on-black);
  
  article {
    @include flex-item;
    
    max-width: $text-width;
    padding: $lem*2;
    
    font-size: 200%;
    @include p;
    
    p {
      
      &:last-of-type {
        
        margin-top: $lem * 2;
        font-size: 70%;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        
        a {
          @include colors(white-on-black);
        }
      }
    }
    
    
  }
}