@mixin intro {
  @include flexbox($display: flex, $direction: row, $align-items: center, $justify-content: flex-start);
  background: url(/assets/images/smuff-archive-desktop-left.png) no-repeat scroll 250% 45% transparent;
  
  #design, #web, #cms {
    @include flex-item;
    padding: $lem;
  }
  
  #design {
    @include design;
    margin-left: $lem * 6;
  }
  
  #web {
    @include web;
  }
  
  #cms {
    @include cms;
  }
}