@mixin portfolio-section {
  @include flexbox($justify-content: center, $align-items: center, $wrap: wrap);
  
  &.services {
    border-bottom: 1px solid;
    border-top: 1px solid;
  }
  
  @include laptop-and-up {
    padding: $lem;
  }
      
  article {
    &.description, &.services {
      @include text;
    }
    
    &.title, &.description, &.services {
      padding: $lem * 3;
      
      @include mobile {
        padding: $lem * 2;
      }
    }
    
    &.title {
      @include portfolio-title;
    }
    
    &.description {
      @include portfolio-description;
    }
    
    &.services {
      @include portfolio-services;
    }

    &.mockup {
      @include mockup(common);
      padding: $lem;
    }
  }
}