@mixin web {
  @include flexbox($display: flex, $direction: column, $align-items: center);
  
  article {
    @include flex-item;
    @include show-title;
    
    font-style: italic;

    h3 {
      span {
        @include font(logo);
        font-weight: 700;
        font-size: 300%;
        font-style: normal;
        
        border-bottom: 1px solid #ccc;
        padding: 0 $lem/6;
        margin: 2px;
        width: 1em;
        display: inline-block;
        text-align: center;
      }
    }
  }
}