@mixin mockup-tablet-side-overflow {
  overflow: hidden;
    
  figure {
    @include figure($overflow: true);
    // Just to make sure on retina displays these sizes will be used
    width: 480px;
    height: 320px;
  }
}