@mixin mockup($type) {
  @if ($type == "tablet angle single") {
    img {
      max-width: 800px;
    }
  }
  
  @if ($type == "tablet portrait single") {
    img {
      // tablet
      max-width: 500px;
      
      // mobile
      @include mobile {
        max-width: 320px;
      }
      
      // laptop 
      @include laptop-and-up {
        max-width: 350px;
      }
      
      // desktop
      @include desktop-and-up {
        max-width: 500px;
      }
    }
  }
  
  @if ($type == "tablet portrait double") {
    img {
      max-width: 320px;
      
      @include desktop-and-up {
        max-width: 400px;
      }
    }
  }
  
  @if ($type == "tablet side single") {
    img {
      max-width: 180px;
      
      @include desktop-and-up {
        max-width: 300px;
      }
    }
  }
  
  
  
  
  @if ($type == "mobile portrait single") {
    img {
      max-width: 320px;
      
    }
  }
  
  @if ($type == "mobile portrait double") {
    img {
      max-width: 260px;
      
      @include below-laptop {
        max-width: 300px;
      }
    }
  }
  
  @if ($type == "mobile side double") {
    img {
      max-width: 200px;
      
      @include below-laptop {
        max-width: 300px;
      }
      
      @include desktop-and-up {
        max-width: 240px;
      }
    }
  }
  
  
  
  
  
  
  @if ($type == "desktop right double") {
    img {
      max-width: 400px;
      
      @include desktop-and-up {
        max-width: 600px;
      }
    }
  }
  
  @if ($type == "desktop front") {
    img {
      max-width: 600px;
      
      @include desktop-and-up {
        max-width: 800px;
      }
    }
  }
  
  
  
  
  
  
  @if ($type == "laptop double") {
    img {
      max-width: 400px;
      
      @include desktop-and-up {
        max-width: 600px;
      }
    }
  }
  
  @if ($type == "laptop single") {
    img {
      max-width: 600px;
      
      @include desktop-and-up {
        max-width: 800px;
      }
    }
  }
  
  
}