// Common settings for all mockups
// - later mockups can be styled individually
// - if all mockups are styled individually this can be removed
@mixin mockup-common {
  figure {
    padding: $lem;
    
    &.mobile, &.tablet-side {
      max-width: 320px;
    }
    
    &.desktop {
      width: 90%;
      margin: auto;
    }
    
    @include below-laptop {
      &.tablet {
        max-width: 480px;
      }
    }
    
    @include laptop-and-up {
      &.desktop, &.laptop, &.tablet-angle {
        width: 60%;
        margin: auto;
      }
      
      &.tablet {
        max-width: 480px;
      }
    }
  }
  
}