@mixin mockup-mobile-portrait-overflow {
  overflow: hidden;
    
  figure {
    @include figure($overflow: true);
    
    overflow: hidden;
    height: 270px;
    
    img {
      width: 320px;
      @include mobile {
        width: calc(320px - #{$lem * 2});
      }
    }
  }
}