@mixin text($type) {
  
  // About 
  @if ($type == about) {
    padding: $lem * 2 $lem;
    
    p {
      @include font(about); 
      max-width: $text-width;

      + p {
        margin-top: $lem;
      }
    }
  }
  
  // The portfolio thumb caption
  @if ($type == thumb) {
    max-width: 320px;
    
    border-top: 1px solid;
    padding-top: $lem / 2;
    
    p {
      @include desktop-and-up {
        padding-left: $lem;
      }
    }
  }
}