@mixin text($type) {
  
  // Portfolio title 
  @if ($type == portfolio-title) {
    h1 {
      @include font(title);
      max-width: $text-width / 2;
      border-bottom: 1px solid;
      margin-bottom: $lem / 2;
      padding-bottom: $lem / 2;
    }

    p {
      @include font(subtitle);
      max-width: $text-width / 2;
    }
  }
  
  // Portfolio services 
  @if ($type == portfolio-services) {
    p {
      max-width: $text-width;
      
      span {
        @include font(services);
      }
      
      + p {
        margin-top: $lem;
      }
    }
  }

  
  // Portfolio description 
  @if ($type == portfolio-description) {
    p {
      max-width: $text-width;
      @include colors(white-on-black);
      padding: $lem;
      
      + p {
        margin-top: 1px;
      }
      
      &:nth-of-type(even) {
        margin-left: $lem;
      }
    }
  }
  
  // About 
  @if ($type == about) {
    padding: $lem * 2 $lem;
    
    p {
      @include font(about); 
      max-width: $text-width;

      + p {
        margin-top: $lem;
      }
    }
  }
  
  // The portfolio thumb caption
  @if ($type == thumb) {
    max-width: 320px;
    
    border-top: 1px solid;
    padding-top: $lem / 2;
    
    p {
      @include font(subtitle);
      @include desktop-and-up {
        padding-left: $lem;
      }
    }
  }
}