html {
  body {
    figure {
      img {
        width: 50%;
        height: auto;
      }
    }
  }
}


html.old {
  height: 100%;
  
  body {
    height: 100%;
    @include flexbox($justify-content: center, $align-items: center);
    
    figure {
      @include flex-item;
      width: 50%;
      
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}