html {
  height: 100%;
  
  body {
    height: 100%;
    
    #one-per-screen {
      height: 100%;
      
      figure {
        @include flexbox($wrap: wrap, $justify-content: center, $align-items: center);
        height: 100%;
        margin-bottom: 15em;
        
        img {
          @include flex-item;  
          width: 50%;
          height: auto;
        }
        
        &.desktop-front img {
          width: 50%;
        }
        
        &.desktop-left img, &.desktop-right img {
          width: 40%;
        }
        
        &.laptop-front img {
          width: 60%;
        }
        
        &.tablet-portrait img {
          width: 30%;
        }
        
        &.tablet-angle img {
          width: 60%;
        }
        
        &.tablet-side img {
          width: 20%;
        }
        
        &.mobile-portrait img {
          width: 20%;
        }
        
        &.mobile-side img {
          width: 20%;
        }
      }
    }
  }
}