---
layout: portfolio
title: Anvelocom
subtitle: E-commerce
services:
  - Identity
  - Responsive web design and front-end development
  - Back-end development
technologies:
  - HTML5
  - CSS3
  - Compass / SASS
  - jQuery
  - Wordpress
images:
  - mobile: anvelocom-frontpage-mobile-portrait-1x.png
    mobile2x: anvelocom-frontpage-mobile-portrait-2x.png
    tablet2x: anvelocom-frontpage-mobile-portrait-2x.png
    laptop2x: anvelocom-frontpage-mobile-portrait-2x.png
    desktop: anvelocom-product-thumb-tablet-side-1x.png
    desktop2x: anvelocom-product-thumb-tablet-side-2x.png

  - mobile: anvelocom-archive-laptop-front-1x.png
    tablet: anvelocom-archive-laptop-front-2x.png
    laptop: anvelocom-archive-laptop-front-3x.png

  - mobile: anvelocom-frontpage-mobile-portrait-1x.png
    retina: anvelocom-frontpage-mobile-portrait-2x.png
  - mobile: anvelocom-menu-mobile-portrait-1x.png
    retina: anvelocom-menu-mobile-portrait-2x.png
  - mobile: anvelocom-archive-mobile-portrait-1x.png
    retina: anvelocom-archive-mobile-portrait-2x.png

  - mobile: anvelocom-frontpage-desktop-front-1x.png
    tablet: anvelocom-frontpage-desktop-front-2x.png
    desktop: anvelocom-frontpage-desktop-front-3x.png

  - mobile: anvelocom-archive-tablet-portrait-1x.png
    laptop: anvelocom-archive-tablet-portrait-2x.png
  - mobile: anvelocom-product-tablet-portrait-1x.png
    laptop: anvelocom-product-tablet-portrait-2x.png
---

{% include structures/portfolio-section.html title="Intro" images="1" %}
{% include structures/portfolio-section.html title="Screenshots 1" images="2,3,4" %}

{% capture description %}
  <p>
    Anvelocom started as a Wordpress blog to research the market for auto off-road accessories and tuning equipment.
  </p>

  <p>
    After initial success we've created a responsive e-commerce Wordpress theme together with a strong visual identity.
  </p>

  <p>
    A technical challenge was to create dynamic filters for products which work with any number of categories and combinations. 
  </p>
{% endcapture %}
{% include structures/portfolio-section.html title="Description" images="" description=description %}

{% include structures/portfolio-section.html title="Screenshots 2" images="5" %}

{% include structures/portfolio-section.html title="Screenshots 2" images="6,7" %}
{% include structures/portfolio-section.html title="Services" images="" %}