---
layout: default
title: Inu Chivu
subtitle: Artist portfolio
services:
  - Identity
  - Responsive web design and development
  - Back-end development
technologies:
  - HTML5
  - CSS3
  - jQuery
  - Wordpress
images:
  - url: inu-archive-tablet-angle1.png
    class: tablet angle

  - url: inu-menu-white-mobile-portrait.png
    class: mobile portrait
  - url: inu-menu-black-mobile-portrait.png
    class: mobile portrait

  
  - url: inu-frontpage-mobile-side1.png
    class: mobile side
  - url: inu-archive-mobile-side1.png
    class: mobile side
  - url: inu-frontpage-tablet-portrait.png
    class: tablet portrait

  - url: inu-archive-desktop-right.png
  - url: inu-frontpage-laptop-front.png
---



<section id="one-per-screen">
  {% for image in page.images %}
    <figure class="{% include atoms/classname.html title=image.class %}">
      <img src="{{ site.url }}/{{ site.images }}/{{ image.url }}">
    </figure>
  {% endfor %}
</section>




{% capture description %}
  <p>
    Trapped with old technology like Flash and FTP with his old portfolio Inu wanted a new tool for easy uploading and categorizing his work. 
  </p>

  <p>
    We have created a special Wordpress backend for easy photography publishing, and a design which stays out of the viewer's way.
  </p>
{% endcapture %}

