---
layout: portfolio
title: Inu Chivu
subtitle: Artist portfolio
services:
  - Identity
  - Responsive web design and front-end development
  - Back-end development
technologies:
  - HTML5
  - CSS3
  - Compass / SASS
  - jQuery
  - Wordpress
images:
  - mobile: inu-menu-white-mobile-portrait-1x.png
    mobile2x: inu-menu-white-mobile-portrait-2x.png
    tablet2x: inu-menu-white-mobile-portrait-2x.png
    laptop2x: inu-menu-white-mobile-portrait-2x.png
    desktop: inu-archive-thumb-tablet-side-1x.png
    desktop2x: inu-archive-thumb-tablet-side-2x.png

  - mobile: inu-archive-tablet-angle1-2x.png
    tablet: inu-archive-tablet-angle1-3x.png
    desktop: inu-archive-tablet-angle1-4x.png

  - mobile: inu-menu-white-mobile-portrait-1x.png
    mobile2x: inu-menu-white-mobile-portrait-2x.png
    class: mobile
  - mobile: inu-menu-black-mobile-portrait-1x.png
    mobile2x: inu-menu-black-mobile-portrait-2x.png
    class: mobile

  - mobile: inu-frontpage-mobile-portrait-1x.png
    mobile2x: inu-frontpage-mobile-portrait-2x.png
    laptop: inu-frontpage-mobile-side1-1x.png
    laptop2x: inu-frontpage-mobile-side1-2x.png
    class: mobile
  - mobile: inu-archive-mobile-portrait-1x.png
    mobile2x: inu-archive-mobile-portrait-2x.png
    laptop: inu-archive-mobile-side1-1x.png
    laptop2x: inu-archive-mobile-side1-2x.png
    class: mobile
  - mobile: inu-archive-tablet-portrait-1x.png
    tablet: inu-archive-tablet-portrait-2x.png


  - mobile: inu-archive-desktop-right-1x.png
    tablet: inu-archive-desktop-right-2x.png
    desktop2x: inu-archive-desktop-right-3x.png

  - mobile: inu-frontpage-laptop-front-1x.png
    tablet: inu-frontpage-laptop-front-2x.png
    desktop: inu-frontpage-laptop-front-3x.png
---

{% include structures/portfolio-section.html title="Intro" images="1" %}

{% capture description %}
  <p>
    Coming in two flavors: black and white
  </p>
{% endcapture %}
{% include structures/portfolio-section.html title="Caption 1" images="2,3" description=description %}

{% include structures/portfolio-section.html title="Screenshots 1" images="4,5,6" %}
{% capture description %}
  <p>
    Eye catching asymmetric grid 
  </p>
{% endcapture %}
{% include structures/portfolio-section.html title="Caption 2" images="" description=description %}


{% capture description %}
  <p>
    Trapped with old technology powering his old portfolio Inu wanted a new website with a modern dashboard and a minimalist look. 
  </p>

  <p>
    We have created a special Wordpress backend for easy photography publishing. And a clean design which stays out of the viewer's way and is enjoyable even on small screens.
  </p>
{% endcapture %}
{% include structures/portfolio-section.html title="Description 2" images="" description=description %}

{% include structures/portfolio-section.html title="Screenshots 2" images="7,8" %}
{% include structures/portfolio-section.html title="Services" images="" %}