---
layout: portfolio
title: Smuff
subtitle: E-commerce
services:
  - Identity
  - Product design and development
  - Responsive web design and development
  - Back-end development
  - E-commerce
technologies:
  - HTML5
  - CSS3
  - Compass / SASS
  - jQuery
  - Wordpress
  - Yii
  - Mailchimp
  - Google Analytics and Adwords
  - Facebook, Twitter, Pinterest APIs
images:
  - mobile: smuff-filters-mobile-portrait-1x.png
    mobile2x: smuff-filters-mobile-portrait-2x.png
    tablet2x: smuff-filters-mobile-portrait-2x.png
    laptop2x: smuff-filters-mobile-portrait-2x.png
    desktop: smuff-product-thumb-tablet-side-1x.png
    desktop2x: smuff-product-thumb-tablet-side-2x.png

  - mobile: smuff-product-desktop-right-1x.png
    desktop: smuff-product-desktop-right-2x.png
  - mobile: smuff-archive-desktop-left-1x.png
    desktop: smuff-archive-desktop-left-2x.png


  - mobile: smuff-archive-tablet-portrait-1x.png
    tablet: smuff-archive-tablet-portrait-2x.png
  - mobile: smuff-product-tablet-portrait-1x.png
    tablet: smuff-product-tablet-portrait-2x.png

  
  - mobile: smuff-archive-mobile-portrait-1x.png
    mobile2x: smuff-archive-mobile-portrait-2x.png
    tablet: smuff-archive-mobile-side1-1x.png
    tablet2x: smuff-archive-mobile-side1-2x.png
  - mobile: smuff-product-mobile-portrait-1x.png
    mobile2x: smuff-product-mobile-portrait-2x.png
    tablet: smuff-product-mobile-side1-1x.png
    tablet2x: smuff-product-mobile-side1-2x.png
  - mobile: smuff-filters-mobile-portrait-1x.png
    mobile2x: smuff-filters-mobile-portrait-2x.png
    tablet: smuff-filters-mobile-side1-1x.png
    tablet2x: smuff-filters-mobile-side1-2x.png


  - mobile: smuff-product-laptop-front-1x.png
    tablet: smuff-product-laptop-front-2x.png
    desktop: smuff-product-laptop-front-3x.png

  - mobile: smuff-archive-laptop-front-1x.png
    tablet: smuff-archive-laptop-front-2x.png
    desktop: smuff-archive-laptop-front-3x.png

  - mobile: smuff-checkout-laptop-front-1x.png
    tablet: smuff-checkout-laptop-front-2x.png
    desktop: smuff-checkout-laptop-front-3x.png
---

{% include structures/portfolio-section.html title="Intro" images="1,2" %}
{% include structures/portfolio-section.html title="Screenshots 1" images="3,4" %}


{% capture description %}
  <p>
    The collaboration with Smuff started in the founding phase. The business idea for an online gadget store was ready and Smuff needed someone to build a web product around.
  </p>

  <p>
    During years and iterations we have managed to build a custom e-commerce solution with a high conversion rate design and an automatic content distribution platform&mdash;measurable and optimizable&mdash;to aid sales and marketing.
  </p>

  <p>
    Today Smuff is local market leader with 44% of returning customers.
  </p>
{% endcapture %}
{% include structures/portfolio-section.html title="Description 1" images="" description=description %}


{% include structures/portfolio-section.html title="Screenshots 2" images="5,6,7" %}
{% include structures/portfolio-section.html title="Services" images="" %}
{% include structures/portfolio-section.html title="Screenshots 3" images="8,9,10" %}

{% capture description %}
  <p>
    The one-screen, one-click checkout page
  </p>
{% endcapture %}
{% include structures/portfolio-section.html title="Caption" images="" description=description %}
