---
layout: default
title: Anvelom
subtitle: E-commerce
services:
  - Identity
  - Responsive web design and development
  - Back-end development
technologies:
  - HTML5
  - CSS3
  - jQuery
  - Wordpress
images:
  - url: anvelocom-archive-laptop.png
    class: laptop
  - url: anvelocom-frontpage-mobile-portrait.png
    class: mobile portrait
  - url: anvelocom-menu-mobile-portrait.png
    class: mobile portrait
  - url: anvelocom-archive-mobile-portrait.png
    class: mobile portrait
  - url: anvelocom-archive-tablet-angle.png
    class: tablet angle
  - url: anvelocom-frontpage-desktop-front.png
    class: desktop front
  - url: anvelocom-product-tablet-portrait.png
    class: tablet portrait
---


<section id="one-per-screen">
  {% for image in page.images %}
    <figure class="{% include atoms/classname.html title=image.class %}">
      <img src="{{ site.url }}/{{ site.images }}/{{ image.url }}">
    </figure>
  {% endfor %}
</section>




{% capture description %}
  <p>
    Anvelocom started as a Wordpress blog to research the market for auto off-road accessories and tuning equipment.
  </p>

  <p>
    After initial success we've created a responsive e-commerce design, together with a strong visual identity replacing the Wordpress theme.
  </p>

  <p>
    A technical challenge was to create dynamic filters for products which work with any number of categories and combinations. 
  </p>
{% endcapture %}

