<section id="intro">
  <h3>Intro</h3>
  
  <section id="design">
    <h3>Design</h3>
    
    <article>
      <h3><span>D</span></h3>
    </article>

    <article>
      <h3>user <span>E</span>xperience &rsaquo;</h3>

      <aside>
        {% assign post = site.posts | where: "title", "User Experience Design" %}
        {{ post }}
      </aside>
    </article>

    <article>
      <h3>re<span>S</span>ponsive &rsaquo;</h3>

      <aside>
        {% assign post = site.posts | where: "title", "Responsive Web Design" %}
        {{ post }}
      </aside>
    </article>

    <article>
      <h3>nat<span>I</span>ve &rsaquo;</h3>

      <aside>
        {% assign post = site.posts | where: "title", "Native Web Design" %}
        {{ post }}
      </aside>
    </article>

    <article>
      <h3><span>G</span></h3>
    </article>

    <article>
      <h3><span>N</span></h3>
    </article>
  </section>
  
  
  <section id="web">
    <h3>Web</h3>
    
    <article>
      <h3>For</h3>
    </article>
    
    <article>
      <h3>The</h3>
    </article>
    
    <article>
      <h3><span>W</span></h3>
    </article>
    
    <article>
      <h3><span>E</span></h3>
    </article>
    
    <article>
      <h3><span>B</span></h3>
    </article>
  </section>
  
  
  <section id="cms">
    <h3>+ CM&S</h3>
    
    {% assign post = site.posts | where: "title", "Content Management & Storytelling" %}
    <article>
      <h3>Content Management & Storytelling</h3>
      
      <aside>
        {{ post }}
      </aside>
    </article>
  </section>
</section>