<section id="navigation">
  <h3>Navigation</h3>
  
  <article id="view-portfolio">
    <h3>
      <a href="{{ site.url }}/iorad" title="View portfolio">View portfolio</a>
    </h3>
  </article>
  
  <article id="contact">
    <h3>Get in touch</h3>
    
    <aside>
      <h3>Email and Twitter</h3>
      
      <ul>
        <li><a href="bartus.csongor@gmail.com" title="Email to bartus.csongor@gmail.com">bartus.csongor@gmail.com</a></li>
        <li><a href="https://twitter.com/metamn" title="Follow Csongor on Twitter">@metamn</a></li>  
      </ul>
    </aside>
  </article>
  
  
  <article id="styleguide">
    <h3>
      <a href="{{ site.url }}/styleguide" title="Visit Styleguide">Visit Styleguide</a>
    </h3>
  </article>
</section>