
@import url(http://fonts.googleapis.com/css?family=Montserrat:700|);


// Special font mixins
@mixin font($type: body) { 
  @if ($type == logo) {
    font-family: "Montserrat", sans-serif;
    font-size: $heading-level-1;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    
  }
  @if ($type == body) {
    font-family: "Europa", sans-serif;
    font-weight: 300;
    
  }
  @if ($type == about) {
    font-family: "Europa", sans-serif;
    font-weight: 300;
    font-size: $heading-level-2;
    
  }
  @if ($type == title) {
    font-family: "Europa", sans-serif;
    font-weight: 400;
    font-size: $heading-level-2;
    line-height: 1.1;
    
  }
  @if ($type == subtitle) {
    font-family: "Europa", sans-serif;
    font-weight: 300;
    font-size: $heading-level-1;
    font-style: italic;
    
  }
  @if ($type == services) {
    font-family: "Europa", sans-serif;
    font-weight: 400;
    
  }
}


// A list of all font families
$font-families: Montserrat, Europa;


// A list of all font mixins
$font-mixins: logo, body, about, title, subtitle, services;  