html.iorad {
  body {
    section {
      &.intro {
        article {
          &.mockup {
            @include mockup("tablet portrait overflow");
          }
          
          &.title {
            width: 100%;
            
            @include desktop-and-up {
              width: auto;
            }
          }
        }
      }
      
      &.description {
        @include desktop-and-up {
          @include flexbox($wrap: nowrap);
        }
        
        article {
          @include laptop-and-up {
            padding: $lem;
          }
          
          &.mockup {
            @include mockup("mobile portrait double");
          }
        }
      }
    }
  }
}