@mixin contact {
  ul {
    li {
      text-align: center;
      
      // Align "@metamn" to "Visit Portfolio" button
      &:last-of-type {
        margin-bottom: $lem / 2;
      }
    }
  }
  
  aside {
    padding-top: $lem / 4;
    
    // Align "Your next project ..." to "Visit styleguide" button
    p {
      @include button;
      border: none;
    }
  }
}