@mixin inu-background {
  body {
    $color1: $white;
    $color2: lighten($inu-black, 80%);
    @include gradient($color1, $color2, single);
    
    section {
      padding-top: $lem * 2;
      padding-bottom: $lem * 2;
    }
  }
}
