@mixin iorad-background {
  body {
    section {
      $color1: lighten($iorad-blue, 40%);
      $color2: lighten($iorad-green, 40%);
      @include gradient($color1, $color2);
      
      &.intro {
        padding-top: $lem * 2;
      }
      
      @include laptop-and-up {
        padding-bottom: $lem * 2;
        
        &.services {
          article {
            &.services {
              margin-top: $lem * 2;
            }
          }
        }
      }
    }
  }
}