@mixin mockup($type: common) {
  
  
  @if ($type == "two mobiles in a row") {
    @include tablet {
      img {
        max-width: 260px;
      }
    }
  }
  
  @if ($type == "tablet angle center") {
    @include below-laptop {
      position: relative;
      @include mockup-tablet-angle-overflow;
      
      figure {
        position: relative;
        overflow: visible;
        left: -100px;
        
        @include mobile {
          left: -200px;
        }
      }
    }
  }
  
  @if ($type == "two desktops in a row") {
    
    @include desktop-and-up {
      img {
        max-width: 500px;
      }
    }
  }
  
  
  
  @if ($type == "tablet side overflow") {
    @include mockup-tablet-side-overflow;
  }
  
  @if ($type == "mobile portrait overflow") {
    @include mockup-mobile-portrait-overflow;
  }
  
  @if ($type == "tablet angle overflow") {
    @include mockup-tablet-angle-overflow;
  }
}