@mixin occrp-background {
  body {
    section {
      $color1: $occrp-gray;
      $color2: lighten($occrp-red, 40%);
      @include gradient($color2, $color1);
      
      padding-top: $lem * 2;
      padding-bottom: $lem * 2;
    }
  }
}
