@mixin portfolio-thumb {
  margin: $lem;
  
  @include link(none);
  
  figure {
    @include figure;
    width: 240px;
    @include transform(rotate(15deg));
  }
  
  // The Archive title
  position: relative;
  
  &:first-of-type {
    &:before {
      content: 'Featured projects';
      @include font(services);
      
      position: absolute;
      top: -$lem * 2;
    }
  }
}