@mixin portfolio-title {
  &:before {
    content: ' ';
    @include square($lem * 2 + $lem/4, $iorad-green);
    display: inline-block;
  }
  
  @include below-laptop {
    text-align: center;
    width: 100%;
  }
  
  h1 {
    @include font(title);
  }
  
  p {
    @include font(subtitle);
  }
}