@mixin portfolio-thumb {
  margin: $lem;
  
  @include link(none);
  
  figure {
    @include figure(caption);
    width: 240px;
    max-height: 300px;
    overflow: hidden;
  }
  
  // The Archive title
  position: relative;
  
  &:first-of-type {
    &:before {
      content: 'Featured projects';
      @include font(services);
      
      position: absolute;
      top: -$lem * 2;
    }
  }
}