@mixin thumb {
  margin: $lem $lem/2;
  @include mockup("mobile portrait overflow");
  
  @include desktop-and-up {
    margin: $lem * 2 $lem * 3;
    @include mockup("tablet side overflow");
  }
  
  
  figure {
    padding-top: $lem / 2;
    
    a {
      transition: -webkit-transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
      transition: transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
      will-change: transform;
      
      &:hover, &:active {
        img {
          -webkit-transform: translateY(-$lem/2);
          transform: translateY(-$lem/2);
        }
      }
    }
  }
  
  
  
  
  aside {
    @include text(thumb);
  }
}