@mixin thumb {
  margin: $lem;
  @include desktop-and-up {
    margin: $lem * 2;
  }
  
  @include mockup("tablet side overflow archive");
  
  aside {
    @include text;
    border-top: 1px solid;
    padding-top: $lem / 2;
    
    p {
      padding-left: $lem;
    }
  }
}