<section id="{% include atoms/classname.html title=page.title %}" class="styleguide-entry">
  <h1>{{ page.title }}</h1>
  
  <article class="subtitle">
    <h3>Short description</h3>
    
    {{ page.subtitle }}
  </article>
  
  <article class="description">
    <h3>Description</h3>
    
    {{ include.description }}
  </article>
  
  
  <article class="example">
    <h3>Example</h3>
    
    {{ include.example }}
  </article>
  
  
  <article class="technical">
    <h3>Technical description</h3>
    
    {{ include.technical }}
  </article>
  
  {% include styleguide/organisms/sg-code.html %}
</section>